:root {
  --taxo-primary: #e97724;
  --taxo-secondary: #1688db;
  --taxo-tertiary: #e5e5e5;

  --taxo-grey-1: #000;
  --taxo-grey-2: #666;
  --taxo-grey-3: #999;
}

.links > path {
  fill: none;
  stroke: var(--taxo-grey-2);
  stroke-opacity: 0.4;
  stroke-width: 1.5;
}

.nodes rect {
  fill: none;
  stroke: none;
}

.nodes circle {
  fill: var(--taxo-grey-2);
}

.nodes .plant > circle {
  /* fill: var(--taxo-grey-3); */
  /* stroke: var(--taxo-primary); */
  fill: var(--taxo-primary);
  stroke: var(--taxo-grey-3);
}

.nodes text {
  fill: var(--taxo-grey-1);
}

/* .nodes .plant > text {
  fill: var(--taxo-primary);
} */

.links .selected {
  stroke: var(--taxo-secondary);
}
.nodes .selected > circle {
  fill: var(--taxo-secondary);
}
.nodes .selected > text,
.nodes .selected.plant > text {
  fill: var(--taxo-secondary);
}

.outline {
  fill: none;
  stroke: #fff;
  stroke-width: 3;
}

#info-card {
  position: fixed;
  padding: 10px 15px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 3px 3px 5px var(--taxo-grey-3);
  font-family: sans-serif;
}

.hidden {
  opacity: 0;
  transition: all 0.1s ease-out;
}

#card-clear-wrapper {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}
#card-clear {
  position: absolute;
  background-color: transparent;
  border: none;
  font-size: 25px;
  margin-inline-end: -8px;
  margin-block-start: -8px;
  color: var(--taxo-grey-3);
}

#card-clear:hover {
  color: var(--taxo-grey-1);
}

#card-clear:active {
  color: var(--taxo-grey-2);
}

.biomial-name {
  margin-block-end: 10px;
}

.common-names {
  margin-block-start: 5px;
  margin-block-end: 10px;
  color: var(--taxo-grey-2);
}

.synonyms {
  margin-block-start: 5px;
  font-weight: normal;
  font-style: italic;
}

svg text{
  user-select: none;
}