.links > path {
  fill: none;
  stroke: var(--taxo-grey-2);
  stroke-opacity: 0.4;
  stroke-width: 1.5;
}

.nodes g:focus {
  outline-offset: 3px;
}

.nodes rect {
  fill: none;
  stroke: none;
}

.nodes circle {
  fill: var(--taxo-grey-2);
}

.nodes .plant > circle {
  /* fill: var(--taxo-grey-3); */
  /* stroke: var(--taxo-primary); */
  fill: var(--taxo-primary);
  stroke: var(--taxo-grey-3);
}

.nodes text {
  fill: var(--taxo-grey-1);
}

/* .nodes .plant > text {
  fill: var(--taxo-primary);
} */

.links .selected {
  stroke: var(--taxo-secondary);
}
.nodes .selected > circle {
  fill: var(--taxo-secondary);
}
.nodes .selected > text,
.nodes .selected.plant > text {
  fill: var(--taxo-secondary);
}

.outline {
  fill: none;
  stroke: #fff;
  stroke-width: 3;
}

#wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;

}

#info-card {
  height: calc(100vh - 40px);
  position: sticky;
  top: 10px;
  overflow: auto;
  padding: 10px 15px;
  background-color: white;
  border-left: 1px solid var(--taxo-grey-3);
  font-family: sans-serif;
}

.hidden {
  opacity: 0;
  transition: all 0.1s ease-out;
}

#card-clear-wrapper {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}
#card-clear {
  position: absolute;
  background-color: transparent;
  border: none;
  font-size: 25px;
  margin-inline-end: -8px;
  margin-block-start: -8px;
  color: var(--taxo-grey-3);
}

#card-clear:hover {
  color: var(--taxo-grey-1);
}

#card-clear:active {
  color: var(--taxo-grey-2);
}

.minitree {
  font-size: 14px;
}

.biomial-name {
  margin-block-end: 10px;
}

.common-names {
  margin-block-start: 5px;
  margin-block-end: 10px;
  color: var(--taxo-grey-2);
}

.synonyms {
  margin-block-start: 5px;
  font-weight: normal;
  font-style: italic;
}

.imageGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  gap: 10px;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: 50% top;
}

svg text{
  user-select: none;
}